.birthday {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.birthday-input {
    padding: 2px 8px;
    width: 100%;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    transition: all 100ms;
    box-sizing: border-box;
    cursor: auto;
}

.react-dadata__container {
    width: 100%;
}