html,body {
    width: 100%;
    height: 100%;

}

#root {
    width: 100%;
    height: 100%;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#formAdv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border: solid;
    padding: 1%;
}

input:focus {
    border-color: #007cd6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03 ), 0 0 0 3px rgba(0, 124, 214, 0.3);
}

.input-error {
    border: 1px solid red!important;
    -webkit-box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.4);
    -moz-box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.4);
    box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.4);
}

.input-error-msg {
    color: red;
    height: 20px;
    font-size: 14px;
}

#sms-check {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

#sms-check input{
    cursor: pointer;
}

#button-form {
    border: 0;
    width: 110px;
    height: 33px;
    border-radius: 10px;
    cursor: pointer;
    background: #d1d1d1;
}

#button-form:hover {
    background: #bfbfbf;
}

#button-form:active {
    width: 105px;
    height: 32px;
}